*{
    padding: 0;
    margin: 0;
    
}
a{
    text-decoration: none;
    color: #ff0000;
}
::-webkit-scrollbar {
    height: 5px;
    background: #ffffff;
    width: 5px;
  }
.video_box{
    max-width: 650px;
    max-height: 380px;
    overflow-y: scroll;
    position: absolute;
    margin: 0 auto;
    top: 20px;
}
.video{
    max-width: 600px;
}
.image{
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}
.gif_app {
    display: flex;
    flex-direction: column;
    
}
.gif_app .top {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-wrap: nowrap;
}
.top .top_left{
    position: relative;
    width: 50%;
    height: 65vh;
    /* background-color: rgb(56, 56, 56); */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: #A9C9FF;
    background-image: -webkit-linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-image: -moz-linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-image: -o-linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}
.top .top_right{
    padding: 30px;
    box-sizing: border-box;
    width: 50%;
    height: 65vh;   
    /* background-color: rgb(226, 108, 61); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    position: relative;
    background-color: #0093E9;
    background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}   
.top_right p{
    position: absolute;
    top: 50%;
    left: 45%;
    color: #fff;
    font-weight: 600;
    font-size: 26px;
}
.gif_app .bottom {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-wrap: nowrap;
    background-color:#627ae3;
/* background-image: -webkit-linear-gradient(65deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */

}
.bottom  .bottom_left{
    padding: 10px;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    /* background-color: #f6f087; */
    text-align: center;
    line-height: 100%;
    overflow-y: auto;
    border-right: #ffffff 1px solid;
}
.bottom  .bottom_right{
    width: 60%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    /* background-color: #8BC6EC;
    background-image: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-image: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-image: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */

}
.bottom_right .title{
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.bottom  .bottom_left img{
    width: 60%;
    height: auto;
}
.select_video {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 28px;
    width: 200px;
    line-height: 70px;
    height: 70px;
    background-color: #f28407;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 25px 50px -12px rgba(241, 123, 6, 0.25);
}
.console_wrap{
    padding: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    border-top: #a9a9a9 1px solid;
    display: none;
    position: absolute;
    top: 400px;
}
.console_wrap .console {
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
}
.console > div{
    text-align: left;
    width: 45%;
}
/* #btn {
    width: ;
} */
.loiding_wrap{
    display: none;
}
.loiding{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}
.loiding_img img {
    width: 100px;
    height: 100px;
}
.loiding_img {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 45%;
    left: 47%;
    z-index: 100;
    animation: route infinite 1s linear;
}

@keyframes route {
    100%{
        transform:rotate(360deg);
    }
}
.con-1 input{
    width: 50%;
}
.con-1 >label{
    color: #666;
    font-size: 16px;
    font-weight: 600;
}

.con-2 {
    margin-top: 20px;
}
.con-2 >span{
    color: #666;
    font-size: 16px;
    font-weight: 600;
}
.select_class {
    width: 30%;
    border: none;
    height: 32px;
    border-radius: 13px;
    color: #666;
    padding: 0 5px;
}
.start_btn {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start_btn button {
    background: #0093E9;
    width: 200px;
    height: 50px;
    border-radius: 60px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;

}
.wrap_post {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap_post .box-file {
    /* background-color: #d9dc74; */
    width: 30%;
    height: 250px;
    color: #fff;
}
.wrap_post p{
    margin: 50px 0 20px 0;
}
